{% extends 'base.html.twig' %}

{% block title %}Profile!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<a href="{{ path('app_home') }}" class="btn btn-dark">Acceuil</a>
	<a href="{{ path('app_user') }}" class="btn btn-dark">Profile</a>
	<a href="{{ path('app_quizz') }}" class="btn btn-dark">Quizz</a>
	<a href="{{ path('app_logout') }}" class="btn btn-dark">Logout</a>
	
	{% if app.user %}
		<div class="mb-3">
			Vous êtes connecter en tant que
			{{ app.user.userIdentifier }}
		</div>
	{% endif %}

	<div class="example-wrapper">
		<br>
		<p>Nom : <input type="text" placeholder="{{ app.user.username }}"></input></p>
		<p>E-mail : <input type="email" placeholder="{{ app.user.email }}"></input></p>
		<p>Mot de passe :<input type="password" placeholder="{{ app.user.password }}"></input></p>
		<button type="submit" class="btn btn-lg btn-primary">Modifier votre profile</button>
	</div>

	<p>Pour modifier votre profile clique par {# <a href="{{ path('app_user_edit') }}" class="btn btn-dark">ICI</a> #}</p>
{% endblock %}